*, *::after, *::before {
    box-sizing: border-box;
}
html {
    background: url(images/wood.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
body {
    padding: 0;
    margin: 0;
}
main {
    display: grid;
    text-align: center;
    justify-items: center;
}
.bookshelf {
    display: flex;
    flex-wrap: wrap;
}
.book {
    margin: 5px;
    background-color: white;
    height: 228px;
    width: 165px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

fieldset {
    display: grid;
    background: white;
    border: 1px solid black;
}
section {
    position: absolute;
    background-color: rgba(0, 0, 0, .25);
    justify-content: center;
    align-items: center;
    display: flex;
    
}